<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>에코프젝-인증글상세</title>
    <link rel="stylesheet" th:href="@{/css/reset2.css}" />
    <link
      rel="stylesheet"
      th:href="@{/css/admin/adminEcoCertifiDetail.css}"
    />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminNavBar.css}" />
  </head>
  <body>
    <header id="adminHeader"  th:replace="~{/admin/adminHeader :: header}"></header>
    <main>
      <nav id="adminNavBar" th:replace="~{/admin/adminNavBar :: nav}"></nav>
      <!-- 우측 녹색 메인 화면-->
      <div class="content-box">
        <!-- 타이틀 : dashboard -->
        <div class="page-title-box">
          <p class="page-title">에코프로젝트 인증글</p>
        </div>
        <!------<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
        <!-- 흰색 게시판 전체 -->
        <div class="content">
          <div class="content-title-box">
            <div class="content-title" th:text="${adminEcoCertDetailDTO.fgPostTitle}">오늘 플로깅 인증합니다!</div>
            <div class="content-info">
                  <div class="profile-box">
                    <img th:src="'/upload_moamz/' + ${adminEcoCertDetailDTO.fgUserFileRoot} + '/' + ${adminEcoCertDetailDTO.fgUserFileUuid} + '_' + ${adminEcoCertDetailDTO.fgUserFileName}"
                      alt="profile"
                    />
                  </div>
                  <div class="writer" th:text="${adminEcoCertDetailDTO.fgNormalNickname}">user1</div>
                 
              <div class="text-box">
                <div class="write-date">작성일</div>
                <div class="write-date-value" th:text="${adminEcoCertDetailDTO.fgPostCreatedAt}">22/10/04 23:53</div>
              </div>
              <div class="text-box">
                <div class="view">좋아요수</div>
                <div class="view-value"  th:text="${adminEcoCertDetailDTO.fgPostLikes}">10</div>
              </div>
              <div class="btn-wrapper">

                <button
                  class="btn"
                  type="button"
                  th:onclick="|location.href='/admin/eco/finEcoCertList/'+ ${adminEcoCertDetailDTO.fgProjectId}|"
                >
                  에코프로젝트 인증글 목록으로 가기
                </button>
              </div>
            </div>
          </div>
          <div class="content-detail-box">
            <p th:utext="${adminEcoCertDetailDTO.fgCertContent}">
              날씨 좋은날 한강공원에서 플로깅하니 뿌듯하고 기분전환도 되네요!
            </p>
<!--            <div class="content-img">-->
<!--              &lt;!&ndash;!!!!글 내부 이미지 어떻게 업로드 되는지 확인하기!!!!&ndash;&gt;-->
<!--              &lt;!&ndash;              <img&ndash;&gt;-->
<!--              &lt;!&ndash;                src="../../static/img/admin/plogging_pic.jpg"&ndash;&gt;-->
<!--              &lt;!&ndash;                alt="profile"&ndash;&gt;-->
<!--              &lt;!&ndash;              />&ndash;&gt;-->
<!--            </div>-->
            <div class="comment-container">
              <div class="comment">댓글</div>
              <div class="comment-box">
                <div class="comment-info">
                  <div class="comment-id">user1</div>
                  <div class="comment-date">2024/10/08 13:00</div>
                  <div class="comment-modified">수정됨</div>
                </div>
                <div class="comment-detail">부지런하시네요!</div>
              </div><div class="comment-box">
                <div class="comment-info">
                  <div class="comment-id">user1</div>
                  <div class="comment-date">2024/10/08 13:00</div>
                  <div class="comment-modified">수정됨</div>
                </div>
                <div class="comment-detail">부지런하시네요!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
<!--  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--  <script>-->
<!--    $(function () {-->
<!--      $("#adminNavBar").load("adminNavBar.html");-->
<!--      $("#adminHeader").load("adminHeader.html");-->
<!--    });-->
<!--  </script>-->
</html>
