<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>에코-인증글 목록</title>
    <link rel="stylesheet" th:href="@{/css/reset2.css}" />
    <link
      rel="stylesheet"
      th:href="@{/css/admin/adminEcoCertifiList.css}"
    />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminNavBar.css}" />
  </head>
  <body>
    <header id="adminHeader" th:replace="~{/admin/adminHeader :: header}"></header>
    <main>
      <nav id="adminNavBar" th:replace="~{/admin/adminNavBar :: nav}"></nav>
      <!-- 우측 녹색 메인 화면-->
      <div class="content-box">
        <!-- 타이틀 : dashboard -->
        <div class="title-and-btn">
          <div class="page-title-box">
            <div class="page-title">에코프로젝트 인증글 목록</div>
          </div>
          <div class="go-list-btn">
            <button type="button" onclick="location.href='adminEcoList.html'">
              에코프로젝트 목록으로
            </button>
          </div>
        </div>
        <!-- 흰색 게시판 전체 -->
        <div class="content">
          <div id="user-table-container">
            <table>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>인증글 제목</th>
                  <th>닉네임</th>
                  <th>등록일</th>
                  <th>좋아요수</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- 💥추후 각 tr클릭시 해당 상세페이지로 이동시키기 -->
                <tr  th:onclick="|goToDetailPage(event,${certList.fgPostId},${certList.fgProjectId})|" th:each ="certList, iterStat :${adminEcoCertListDTO}">
                  <td th:text="${iterStat.index + 1}">1</td>
                  <td th:text="${certList.fgPostTitle}">오늘 플로깅 인증합니다!</td>
                  <td th:text="${certList.fgNormalNickname}">user1</td>
                  <td th:text="${certList.fgPostCreatedAt}">2022/10/11</td>
                  <td th:text="${certList.fgPostLikes}">10</td>
                  <td>
                    <!-- <button onclick="openModal(event)">포인트 지급하기</button> -->
                  </td>
                </tr>
<!--                <tr onclick="goToDetailPageFin()">-->
<!--                    <td>2</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>3</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>4</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>5</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>6</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>7</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>8</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>9</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>10</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>11</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  <tr onclick="goToDetailPageFin()">-->
<!--                    <td>12</td>-->
<!--                    <td>오늘 플로깅 인증합니다!</td>-->
<!--                    <td>user1</td>-->
<!--                    <td>2024/10/11</td>-->
<!--                    <td>10</td>-->
<!--                    <td>-->
<!--                      &lt;!&ndash; <button onclick="openModal(event)">포인트 지급하기</button> &ndash;&gt;-->
<!--                    </td>-->
<!--                  </tr>-->
              </tbody>
            </table>

            <!-- The Modal -->
            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h1>포인트 지급</h1>
                <form action="#" method="POST">
                  <div class="point-title">point : </div>
                  <input type="number">
                  <!-- <select name="pointAmount" id="pointAmount" class="custom-select">
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                  </select> -->
                  <div class="modal-btn">
                    <button type="button" onclick="closeModal()">취소</button>
                    <button type="submit" id="subminBtn">적용</button>
                    <!-- 💥적용버튼 클릭시 가야할 곳 못 정함 -->
                  </div>
                </form>
              </div>
            </div>

            <!-- 💥추후 페이지네이션 js 구현하기 -->
            <div class="pagination">
              <button class="prev">Previous</button>
              <button class="page active">1</button>
              <button class="page">2</button>
              <button class="page">3</button>
              <button class="next">Next</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
<!--  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--  <script>-->
<!--    $(function () {-->
<!--      $("#adminNavBar").load("adminNavBar.html");-->
<!--      $("#adminHeader").load("adminHeader.html");-->
<!--    });-->
<!--  </script>-->
  <script th:src="@{/js/admin/adminEcoCertifiListFin.js}"></script>
</html>
