<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>대쉬보드</title>
    <link rel="stylesheet" th:href="@{/css/reset2.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminDashboard.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminNavBar.css}" />
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js}"></script>
  </head>
  <body>
  <header id="adminHeader" th:replace="~{/admin/adminHeader :: header}"></header>
    <main>
      <nav id="adminNavBar" th:replace="~{/admin/adminNavBar :: nav}">
      </nav>
      <!-- 우측 녹색 메인 화면-->
      <div class="content-box">
        <!-- 타이틀 : dashboard -->
        <div class="page-title-box">
          <div class="page-title">Dashboard</div>
        </div>
        <!-- 카운팅 카드 뷰 4개 -->
        <div class="count-card-wrap">
          <div class="count-card-box">
            <div class="count-card">
              <div class="count-card__title" >오늘 가입한 회원 수</div>
              <div class="count-card__value" th:text="${dashBoardAggregationDTO.newUserCount}">5</div>
            </div>
            <div class="count-card">
              <div class="count-card__title">총 회원 수</div>
              <div class="count-card__value" th:text="${dashBoardAggregationDTO.totalUserCount}">130</div>
            </div>
            <div class="count-card" id="long-card" >
              <div class="count-card__title">오늘 에코프로젝트 인증글 수</div>
              <div class="count-card__value" th:text="${dashBoardAggregationDTO.ecoCertPostCount}">3</div>
            </div>
            <div class="count-card">
              <div class="count-card__title">미해결된 문의글 수</div>
              <div class="count-card__value" th:text="${dashBoardAggregationDTO.pendingInquiryCount}">1</div>
            </div>
          </div>
        </div>
        <!--에코프로젝트 배너 2개  -->
        <div class="ecobanner-card-box">
          <!-- 에코프젝배너 -->
          <div class="ecobanner-card">
            <!-- 에코프젝 글 -->
            <div class="ecobanner">
              <!-- 에코프젝 글 사진 -->
              <div class="eco-img">
                <img th:src="'/upload_moamz/' + ${dashBoardEcoTopDTO.fgPostFileRoot} + '/' + ${dashBoardEcoTopDTO.fgPostFileUuid} + '_' + ${dashBoardEcoTopDTO.fgPostFileName}"
                  alt="bannerImg"
                />
              </div>
              <!-- 에코프젝 글 내용 -->
              <div class="eco-article">
                <div class="subject">eco project</div>
                <div class="title" th:text="${dashBoardEcoTopDTO.fgPostTitle}">환경을 위한 플로깅 프로젝트!</div>
                <div class="period">
                  <img
                    th:src="@{/img/admin/calendar.png}"
                    alt="calendar"
                  />
                  <div><span th:text="${dashBoardEcoTopDTO.fgEcoStart}">24/10/10</span>~ <span th:text="${dashBoardEcoTopDTO.fgEcoEnd}">24/10/17</span></div>
                </div>
                <div class="like-and-sticker-box">
                  <div class="like">
                    <img
                      th:src="@{/img/admin/heart.png}"
                      alt="like-btn"
                    />
                    <div th:text="${dashBoardEcoTopDTO.fgPostLikes}">22</div>
                  </div>
                  <div class="point-box">
                    <img th:src="@{/img/admin/point.png}" alt="point-icon">
                    <span th:text="${dashBoardEcoTopDTO.fgEcoPoints}">500</span>pt
                  </div>
                  <div class="sticker">
                    <div><span th:text="${dashBoardEcoTopDTO.fgEcoParticipation}">한번만</span> 참여 가능</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 인증글 탑5 리스트 -->
            <div class="top-five-list-box">
              <!-- 타이틀 -->
              <div class="top-five-list-title">좋아요 TOP5 참여자</div>
              <!-- 리스트 -->
              <div class="top-five-list">
                <ul th:each="ingEcoLikes1, iterStat :${dashBoardEcoTopLikes1DTO}" >
                  <!-- 리스트중 하나 -->
                  <li>
                    <div class="num" th:text="${iterStat.index + 1}">1</div>
                    <div class="nickname" th:text="${ingEcoLikes1.fgNormalNickname}">닉네임</div>
                    <div class="like-box">
                      <div class="like">
                        <img
                          th:src="@{/img/admin/heart.png}"
                          alt="likeBtn"
                        />
                        <div th:text="${ingEcoLikes1.fgPostLikes}">35</div>
                      </div>
                    </div>
                  </li>
<!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
<!--                  <li>-->
<!--                    <div class="num">2</div>-->
<!--                    <div class="nickname">닉네임</div>-->
<!--                    <div class="like-box">-->
<!--                      <div class="like">-->
<!--                        <img-->
<!--                                th:src="@{/img/admin/heart.png}"-->
<!--                          alt="likeBtn"-->
<!--                        />-->
<!--                        <div>35</div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
<!--                  <li>-->
<!--                    <div class="num">3</div>-->
<!--                    <div class="nickname">닉네임</div>-->
<!--                    <div class="like-box">-->
<!--                      <div class="like">-->
<!--                        <img-->
<!--                                th:src="@{/img/admin/heart.png}"-->
<!--                          alt="likeBtn"-->
<!--                        />-->
<!--                        <div>35</div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
<!--                  <li>-->
<!--                    <div class="num">4</div>-->
<!--                    <div class="nickname">닉네임</div>-->
<!--                    <div class="like-box">-->
<!--                      <div class="like">-->
<!--                        <img-->
<!--                                th:src="@{/img/admin/heart.png}"-->
<!--                          alt="likeBtn"-->
<!--                        />-->
<!--                        <div>35</div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
<!--                  <li>-->
<!--                    <div class="num">5</div>-->
<!--                    <div class="nickname">닉네임</div>-->
<!--                    <div class="like-box">-->
<!--                      <div class="like">-->
<!--                        <img-->
<!--                                th:src="@{/img/admin/heart.png}"-->
<!--                          alt="likeBtn"-->
<!--                        />-->
<!--                        <div>35</div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
                </ul>
              </div>
            </div>
          </div>
          <div class="ecobanner-card">
            <!-- 에코프젝 글 -->
            <div class="ecobanner">
              <!-- 에코프젝 글 사진 -->
              <div class="eco-img">
                <img th:src="'/upload_moamz/' + ${dashBoardEcoTop2DTO.fgPostFileRoot} + '/' + ${dashBoardEcoTop2DTO.fgPostFileUuid} + '_' + ${dashBoardEcoTop2DTO.fgPostFileName}"
                     alt="bannerImg"
                />
              </div>
              <!-- 에코프젝 글 내용 -->
              <div class="eco-article">
                <div class="subject">eco project</div>
                <div class="title" th:text="${dashBoardEcoTop2DTO.fgPostTitle}">환경을 위한 플로깅 프로젝트!</div>
                <div class="period">
                  <img
                          th:src="@{/img/admin/calendar.png}"
                          alt="calendar"
                  />
                  <div><span th:text="${dashBoardEcoTop2DTO.fgEcoStart}">24/10/10</span>~ <span th:text="${dashBoardEcoTop2DTO.fgEcoEnd}">24/10/17</span></div>
                </div>
                <div class="like-and-sticker-box">
                  <div class="like">
                    <img
                            th:src="@{/img/admin/heart.png}"
                            alt="like-btn"
                    />
                    <div th:text="${dashBoardEcoTop2DTO.fgPostLikes}">22</div>
                  </div>
                  <div class="point-box">
                    <img th:src="@{/img/admin/point.png}" alt="point-icon">
                    <span th:text="${dashBoardEcoTop2DTO.fgEcoPoints}">500</span>pt
                  </div>
                  <div class="sticker">
                    <div><span th:text="${dashBoardEcoTop2DTO.fgEcoParticipation}">한번만</span> 참여 가능</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 인증글 탑5 리스트 -->
            <div class="top-five-list-box">
              <!-- 타이틀 -->
              <div class="top-five-list-title">좋아요 TOP5 참여자</div>
              <!-- 리스트 -->
              <div class="top-five-list">
                <ul th:each="ingEcoLikes2, iterStat :${dashBoardEcoTopLikes2DTO}" >
                  <!-- 리스트중 하나 -->
                  <li>
                    <div class="num" th:text="${iterStat.index + 1}">1</div>
                    <div class="nickname" th:text="${ingEcoLikes2.fgNormalNickname}">닉네임</div>
                    <div class="like-box">
                      <div class="like">
                        <img
                                th:src="@{/img/admin/heart.png}"
                                alt="likeBtn"
                        />
                        <div th:text="${ingEcoLikes2.fgPostLikes}">35</div>
                      </div>
                    </div>
                  </li>
                  <!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
                  <!--                  <li>-->
                  <!--                    <div class="num">2</div>-->
                  <!--                    <div class="nickname">닉네임</div>-->
                  <!--                    <div class="like-box">-->
                  <!--                      <div class="like">-->
                  <!--                        <img-->
                  <!--                                th:src="@{/img/admin/heart.png}"-->
                  <!--                          alt="likeBtn"-->
                  <!--                        />-->
                  <!--                        <div>35</div>-->
                  <!--                      </div>-->
                  <!--                    </div>-->
                  <!--                  </li>-->
                  <!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
                  <!--                  <li>-->
                  <!--                    <div class="num">3</div>-->
                  <!--                    <div class="nickname">닉네임</div>-->
                  <!--                    <div class="like-box">-->
                  <!--                      <div class="like">-->
                  <!--                        <img-->
                  <!--                                th:src="@{/img/admin/heart.png}"-->
                  <!--                          alt="likeBtn"-->
                  <!--                        />-->
                  <!--                        <div>35</div>-->
                  <!--                      </div>-->
                  <!--                    </div>-->
                  <!--                  </li>-->
                  <!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
                  <!--                  <li>-->
                  <!--                    <div class="num">4</div>-->
                  <!--                    <div class="nickname">닉네임</div>-->
                  <!--                    <div class="like-box">-->
                  <!--                      <div class="like">-->
                  <!--                        <img-->
                  <!--                                th:src="@{/img/admin/heart.png}"-->
                  <!--                          alt="likeBtn"-->
                  <!--                        />-->
                  <!--                        <div>35</div>-->
                  <!--                      </div>-->
                  <!--                    </div>-->
                  <!--                  </li>-->
                  <!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
                  <!--                  <li>-->
                  <!--                    <div class="num">5</div>-->
                  <!--                    <div class="nickname">닉네임</div>-->
                  <!--                    <div class="like-box">-->
                  <!--                      <div class="like">-->
                  <!--                        <img-->
                  <!--                                th:src="@{/img/admin/heart.png}"-->
                  <!--                          alt="likeBtn"-->
                  <!--                        />-->
                  <!--                        <div>35</div>-->
                  <!--                      </div>-->
                  <!--                    </div>-->
                  <!--                  </li>-->
                </ul>
              </div>
            </div>
          </div>
<!--          <div class="ecobanner-card">-->
<!--            &lt;!&ndash; 에코프젝 글 &ndash;&gt;-->
<!--            <div class="ecobanner">-->
<!--              &lt;!&ndash; 에코프젝 글 사진 &ndash;&gt;-->
<!--              <div class="eco-img">-->
<!--                <img-->
<!--                  src="../../static/img/admin/plogging.jpg"-->
<!--                  alt="bannerImg"-->
<!--                />-->
<!--              </div>-->
<!--&lt;!&ndash;               에코프젝 글 내용&ndash;&gt;-->
<!--              <div class="eco-article">-->
<!--                <div class="subject">eco project</div>-->
<!--                <div class="title">환경을 위한 플로깅 프로젝트!</div>-->
<!--                <div class="period">-->
<!--                  <img-->
<!--                    src="../../static/img/admin/calendar.png"-->
<!--                    alt="calendar"-->
<!--                  />-->
<!--                  <div>24/10/10 ~ 24/10/17</div>-->
<!--                </div>-->
<!--                <div class="like-and-sticker-box">-->
<!--                  <div class="like">-->
<!--                    <img-->
<!--                      src="../../static/img/admin/heart.png"-->
<!--                      alt="like-btn"-->
<!--                    />-->
<!--                    <div>22</div>-->
<!--                  </div>-->
<!--                  <div class="point-box">-->
<!--                    <img src="../../static/img/admin/point.png" alt="point-icon">-->
<!--                    <span>500</span>pt-->
<!--                  </div>-->
<!--                  <div class="sticker">-->
<!--                    <div>한번만 참여 가능</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--&lt;!&ndash;             인증글 탑5 리스트&ndash;&gt;-->
<!--            <div class="top-five-list-box">-->
<!--              &lt;!&ndash; 타이틀 &ndash;&gt;-->
<!--              <div class="top-five-list-title">좋아요 TOP5 참여자</div>-->
<!--              &lt;!&ndash; 리스트 &ndash;&gt;-->
<!--              <div class="top-five-list">-->
<!--                <ul>-->
<!--                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;-->
<!--                  <li>-->
<!--                    <div class="num">1</div>-->
<!--                    <div class="nickname">닉네임</div>-->
<!--                    <div class="like-box">-->
<!--                      <div class="like">-->
<!--                        <img-->
<!--                          src="../../static/img/admin/heart.png"-->
<!--                          alt="likeBtn"-->
<!--                        />-->
<!--                        <div>35</div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--&lt;!&ndash;                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="num">2</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="nickname">닉네임</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="like-box">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="like">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img&ndash;&gt;-->
<!--&lt;!&ndash;                          src="../../static/img/admin/heart.png"&ndash;&gt;-->
<!--&lt;!&ndash;                          alt="likeBtn"&ndash;&gt;-->
<!--&lt;!&ndash;                        />&ndash;&gt;-->
<!--&lt;!&ndash;                        <div>35</div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="num">3</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="nickname">닉네임</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="like-box">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="like">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img&ndash;&gt;-->
<!--&lt;!&ndash;                          src="../../static/img/admin/heart.png"&ndash;&gt;-->
<!--&lt;!&ndash;                          alt="likeBtn"&ndash;&gt;-->
<!--&lt;!&ndash;                        />&ndash;&gt;-->
<!--&lt;!&ndash;                        <div>35</div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="num">4</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="nickname">닉네임</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="like-box">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="like">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img&ndash;&gt;-->
<!--&lt;!&ndash;                          src="../../static/img/admin/heart.png"&ndash;&gt;-->
<!--&lt;!&ndash;                          alt="likeBtn"&ndash;&gt;-->
<!--&lt;!&ndash;                        />&ndash;&gt;-->
<!--&lt;!&ndash;                        <div>35</div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; 리스트중 하나 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="num">5</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="nickname">닉네임</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="like-box">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="like">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img&ndash;&gt;-->
<!--&lt;!&ndash;                          src="../../static/img/admin/heart.png"&ndash;&gt;-->
<!--&lt;!&ndash;                          alt="likeBtn"&ndash;&gt;-->
<!--&lt;!&ndash;                        />&ndash;&gt;-->
<!--&lt;!&ndash;                        <div>35</div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="chart-wrapper">
          <div class="chart-box">
            <canvas id="shoppingChart" width="650px" height="250px"></canvas>
          </div>
          <div class="chart-box">
            <canvas id="ecoCertifyChart" width="650px" height="250px"></canvas>
          </div>
        </div>
      </div>
      </div>
    </main>
  </body>
<!--  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--<script>-->
<!--    $(function() {-->
<!--        $("#adminNavBar").load("adminNavBar.html");-->
<!--        $("#adminHeader").load("adminHeader.html")-->
<!--    });-->
<!--</script>-->
  <script th:inline="javascript">
    // Thymeleaf로 전달된 값을 JavaScript 배열로 할당
    let augustTotalOrders = [[${augustTotalOrders}]];
    let septemberTotalOrders = [[${septemberTotalOrders}]];
    let octoberTotalOrders = [[${octoberTotalOrders}]];
    let novemberTotalOrders = [[${novemberTotalOrders}]];

    // 위의 각 변수들을 배열로 변경해야 하기 때문에 아래와 같이 설정
    let totalOrders = [augustTotalOrders, septemberTotalOrders, octoberTotalOrders, novemberTotalOrders];

    // Chart.js 설정
    const ctx = document.getElementById('shoppingChart').getContext('2d');

    const shoppingChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['8월', '9월', '10월', '11월'],  // X축 라벨
        datasets: [{
          label: '월별 쇼핑몰 총 구매 건 수 등락 추이', // 차트 제목
          data: totalOrders.flat(),  // Y축 데이터 (배열을 평탄화)
          // backgroundColor: 'rgba(75, 192, 192, 0.2)', // 막대 그래프 배경색
          borderColor: '#1B494C', // 막대 그래프 테두리 색
          // borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true // Y축이 0부터 시작하도록 설정
          }
        }
      }
    });
  </script>
  <script th:inline="javascript">
    // Thymeleaf로 전달된 값을 JavaScript 배열로 할당
    let augustEcoCertPosts = [[${augustEcoCertPosts}]];
    let septemberEcoCertPosts = [[${septemberEcoCertPosts}]];
    let octoberEcoCertPosts = [[${octoberEcoCertPosts}]];
    let novemberEcoCertPosts = [[${novemberEcoCertPosts}]];

    // 위의 각 변수들을 배열로 변경하여 설정
    let ecoCertPosts = [augustEcoCertPosts, septemberEcoCertPosts, octoberEcoCertPosts, novemberEcoCertPosts];

    // Chart.js 설정
    const ecoCtx = document.getElementById('ecoCertifyChart').getContext('2d');

    const ecoCertifyChart = new Chart(ecoCtx, {
      type: 'bar',
      data: {
        labels: ['8월', '9월', '10월', '11월'],  // X축 라벨
        datasets: [{
          label: '월별 에코 프로젝트 인증 글 수', // 차트 제목
          data: ecoCertPosts.flat(),  // Y축 데이터 (배열을 평탄화)
          backgroundColor: '#1B494C', // 라인 그래프 배경색
          borderColor: '#1B494C', // 라인 그래프 테두리 색
          // borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true // Y축이 0부터 시작하도록 설정
          }
        }
      }
    });
  </script>
<script th:src="@{/js/admin/adminDashboard.js}"></script>
</html>
