<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.mypage.seller.SellerProductMapper">
    <!-- 등록한 상품 목록(판매중) -->
    <select id="selectOnSales" resultType="ProductListDTO">
        SELECT p.FG_PRODUCT_ID AS productId, p.FG_PRODUCT_NAME AS productName, p.FG_CATEGORY_ID AS categoryId,
               p.FG_PRODUCT_PRICE AS productPrice, p.FG_PRODUCT_STOCK AS productStock, p.FG_PRODUCT_EXP_DATE AS productExpDate,
               p.FG_PRODUCT_TIME AS productTime, p.FG_PRODUCT_CONTENT AS productContent
        FROM FG_PRODUCT p, FG_PRODUCT_FILE pf
        WHERE p.FG_PRODUCT_ID = pf.FG_PRODUCT_ID
          AND p.FG_PRODUCT_STATUS = '판매중';
    </select>

    <!-- 등록한 상품 목록(판매종료) -->
    <select id="selectNotOnSales" resultType="ProductListDTO">
        SELECT p.FG_PRODUCT_ID AS productId, p.FG_PRODUCT_NAME AS productName, p.FG_CATEGORY_ID AS categoryId,
               p.FG_PRODUCT_PRICE AS productPrice, p.FG_PRODUCT_STOCK AS productStock, p.FG_PRODUCT_EXP_DATE AS productExpDate,
               p.FG_PRODUCT_TIME AS productTime, p.FG_PRODUCT_CONTENT AS productContent
        FROM FG_PRODUCT p, FG_PRODUCT_FILE pf
        WHERE p.FG_PRODUCT_ID = pf.FG_PRODUCT_ID
          AND p.FG_PRODUCT_STATUS = '판매종료';
    </select>

</mapper>