<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>noticeList</title>
  <link rel="stylesheet" th:href="@{/css/main/main/noticeList.css}">
  <link rel="stylesheet" th:href="@{/css/reset2.css}">
</head>
<body>
<header id="header" th:replace="~{/main/fragment/header/userHeaderLogin.html}"></header>

<main>
  <div class="noticeList-title">
    <h1>공지사항 📢</h1>
    <p>서비스의 업데이트 및 변경사항을 확인해보세요!</p>
    <div class="noticeList-title-search">
      <input type="text" value="">
      <button type="submit">검색</button>
    </div>
  </div>

  <!-- 공지사항 리스트 목록 -->
  <div class="noticeList-list-wrap">
    <div th:each="notice, iterStat : ${noticeList}" class="noticeList-list" th:onclick="|location.href='/main/noticeDetail/' + ${notice.fgPostId}|">
      <!-- 공지사항 번호 -->
      <div class="num" th:text="${iterStat.count}"></div>

      <!-- 공지사항 제목 -->
      <div class="title" th:text="${notice.fgPostTitle}"></div>

      <!-- 공지사항 날짜 -->
      <div class="date" th:text="${#temporals.format(notice.fgPostCreatedAt, 'yyyy.MM.dd')}"></div>


      <!-- 공지사항 작성자 -->
      <div class="writer" th:text="'관리자'"></div> <!-- 예시로 '관리자'라고 고정, 실제 값이 있다면 추가 가능 -->

      <!-- 조회수 -->
      <div class="counter">
        <img th:src="@{/img/main/main/noticeListCountIconpng.png}" alt="#">
        <span th:text="${notice.fgPostViews}"></span>
      </div>
    </div>
  </div>
</main>

<footer id="footer" th:replace="~{/main/fragment/footer/userFooter.html}"></footer>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</html>
