<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.admin.sellerInquiry.AdminSellerInquiryMapper">
    <!--판매자 미확인 문의글 목록 보여주기-->
    <select id="selectInquiryList" resultType="AdminSellerInquiryListDTO">
        SELECT i.FG_INQUIRY_STATUS,p.FG_POST_ID,p.FG_POST_TITLE, cu.FG_USER_ID, b.FG_BUSINESS_NAME,
               p.FG_POST_CREATED_AT
        FROM FG_INQUIRY i
                 JOIN FG_POST p ON i.FG_POST_ID = p.FG_POST_ID
                 JOIN FG_COMMON_USER cu  ON p.FG_USER_CODE = cu.FG_USER_CODE
                 JOIN FG_SELLER s ON p.FG_USER_CODE = s.FG_USER_CODE
                 JOIN FG_BUSINESS b ON p.FG_USER_CODE = b.FG_USER_CODE
        ORDER BY p.FG_POST_CREATED_AT DESC --최신 문의글 순
    </select>

<!--    &lt;!&ndash;판매자 답변완료 문의글 목록 보여주기&ndash;&gt;-->
<!--    <select id="selectAnsweredInquiryList" resultType="AdminSellerInquiryListDTO">-->
<!--        SELECT p.FG_POST_TITLE, cu.FG_USER_ID, b.FG_BUSINESS_NAME,-->
<!--               p.FG_POST_CREATED_AT,-->
<!--               CASE-->
<!--                   WHEN i.FG_INQUIRY_STATUS = '1' THEN '답변완료'-->
<!--                   END-->
<!--        FROM FG_INQUIRY i-->
<!--                 JOIN FG_POST p ON i.FG_POST_ID = p.FG_POST_ID-->
<!--                 JOIN FG_COMMON_USER cu  ON p.FG_USER_CODE = cu.FG_USER_CODE-->
<!--                 JOIN FG_SELLER s ON p.FG_USER_CODE = s.FG_USER_CODE-->
<!--                 JOIN FG_BUSINESS b ON p.FG_USER_CODE = b.FG_USER_CODE-->
<!--        WHERE i.FG_INQUIRY_STATUS = '1'-->
<!--        ORDER BY p.FG_POST_CREATED_AT DESC; &#45;&#45;최신 문의글 순-->
<!--    </select>-->

    <!--판매자 특정 문의글 상세보기-->
    <select id="selectUserInquiryDetailById" parameterType="Long" resultType="AdminSellerInquiryDetailDTO">
        SELECT  p.FG_POST_ID,p.FG_POST_TITLE,
               uf.FG_USER_FILE_ROOT,uf.FG_USER_FILE_NAME,uf.FG_USER_FILE_UUID,
               cu.FG_USER_ID, b.FG_BUSINESS_NAME,
               p.FG_POST_CREATED_AT, i.FG_INQUIRY_STATUS,
               i.FG_INQUIRY_CONTENT
        FROM FG_INQUIRY i
                 JOIN FG_POST p ON i.FG_POST_ID = p.FG_POST_ID
                 JOIN FG_USER_FILE uf ON p.FG_USER_CODE = uf.FG_USER_CODE
                 JOIN FG_COMMON_USER cu ON p.FG_USER_CODE  = cu.FG_USER_CODE
                 JOIN FG_BUSINESS b ON cu.FG_USER_CODE  = b.FG_USER_CODE
        WHERE i.FG_POST_ID = #{fgPostId}
    </select>


    <!--판매자 특정 문의글 상세보기의 댓글 보기?????(이렇게 하는게 맞나...???)-->
    <select id="selectUserInquiryDetailCommentById" parameterType="Long" resultType="adminCommentDTO">
        SELECT c.FG_POST_ID, c.FG_COMMENT_DATE, c.FG_COMMENT_CONTENT,
               CASE
                   WHEN c.FG_COMMENT_EDIT = '0' THEN ' '
                   WHEN c.FG_COMMENT_EDIT = '1' THEN '수정됨'
                   END  AS isEdited
        FROM FG_COMMENT c, FG_POST p, FG_COMMON_USER cu
        WHERE c.FG_POST_ID = p.FG_POST_ID
          AND c.FG_USER_CODE = cu.FG_USER_CODE
          AND c.FG_POST_ID = #{fgPostId}
    </select>

    <!--답변상태 변경하기 (처음엔 무조건 FG_INQUIRY_STATUS = '0')-->
    <update id="changeStatusBtn" parameterType="Long">
        UPDATE FG_INQUIRY
        SET FG_INQUIRY_STATUS = '1'
        WHERE FG_POST_ID = ${fgPostId}
    </update>

    <!--판매자문의  글 총 갯수-->
    <select id="selectSellerInquiryTotal" resultType="int">
        SELECT COUNT(p.FG_POST_ID)
        FROM FG_POST p
                 INNER JOIN FG_COMMON_USER cu
                            ON p.FG_USER_CODE = cu.FG_USER_CODE
        WHERE p.FG_POST_TYPE = 'inquiry'
          AND cu.FG_USER_TYPE = '판매자'
    </select>


    <!--모든 판매자문의 목록 보기-->
    <select id="selectAllSellerInquiryPage" parameterType="Criteria" resultType="AdminSellerInquiryListDTO">
    <![CDATA[
        SELECT ROWNUM AS RNUM, FG_POST_ID, FG_POST_TITLE, fgPostCreatedAt, FG_INQUIRY_STATUS, FG_BUSINESS_NAME,FG_USER_ID
        FROM (
                 SELECT ROWNUM AS RNUM, FG_POST_ID, FG_POST_TITLE, fgPostCreatedAt, FG_USER_ID, FG_BUSINESS_NAME, FG_INQUIRY_STATUS
                 FROM (
                          SELECT i.FG_INQUIRY_STATUS,p.FG_POST_ID,p.FG_POST_TITLE, cu.FG_USER_ID, b.FG_BUSINESS_NAME,
                                 TO_CHAR(p.FG_POST_CREATED_AT, 'YY/MM/DD HH24:MI') AS fgPostCreatedAt
                          FROM FG_INQUIRY i
                                   JOIN FG_POST p ON i.FG_POST_ID = p.FG_POST_ID
                                   JOIN FG_COMMON_USER cu  ON p.FG_USER_CODE = cu.FG_USER_CODE
                                   JOIN FG_SELLER s ON p.FG_USER_CODE = s.FG_USER_CODE
                                   JOIN FG_BUSINESS b ON p.FG_USER_CODE = b.FG_USER_CODE
                          ORDER BY p.FG_POST_CREATED_AT DESC --최신 문의글 순
                      )
                 WHERE ROWNUM <= #{page} * #{amount}
             )
        WHERE RNUM > (#{page} - 1) * #{amount}
        ]]>
    </select>




















</mapper>