<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.mypage.normal.MyLikeFreeMapper">
    <select id="selectMyLikeFree" resultType="MyLikeFreeDTO">
        SELECT pf.FG_POST_FILE_ROOT, pf.FG_POST_FILE_ID, pf.FG_POST_FILE_NAME, pf.FG_POST_FILE_UUID,p.FG_POST_TITLE
        FROM FG_LIKE l JOIN FG_POST p
            ON l.FG_POST_ID = p.FG_POST_ID
        LEFT JOIN FG_POST_FILE pf
            ON p.FG_POST_ID = pf.FG_POST_ID
        WHERE l.FG_USER_CODE = #{fgUserCode} AND p.FG_POST_TYPE = 'free'
    </select>
</mapper>