<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.mypage.normal.MyPostRecipeMapper">
    <select id="selectMyPostRecipe" resultType="MyPostRecipeDTO">
        -- MY게시글(레시피)
        SELECT p.FG_POST_TITLE,pf.FG_POST_FILE_ROOT
        FROM FG_POST p JOIN FG_POST_FILE pf
            ON p.FG_POST_ID = pf.FG_POST_ID
        JOIN FG_RECIPE r
            ON p.FG_POST_ID = r.FG_POST_ID
    </select>
</mapper>