<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.mypage.normal.MyReviewMapper">
    <select id="selectReviewList" resultType="MyReviewDTO">
        SELECT b.FG_BUSINESS_NAME,r.FG_REVIEW_CONTENT,r.FG_REVIEW_RATING,r.FG_REVIEW_CREATED_AT,p.FG_PRODUCT_NAME
        FROM FG_BUSINESS b JOIN FG_REVIEW r
            ON b.FG_BUSINESS_ID = r.FG_BUSINESS_ID
        JOIN FG_PRODUCT p
            ON b.FG_BUSINESS_ID = p.FG_BUSINESS_ID
        WHERE r.FG_REVIEW_RATING IS NOT NULL
    </select>
</mapper>