<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.mypage.normal.PurchaseHistoryMapper">
    <select id="selectPurchaseList" parameterType="Long" resultType="PurchaseHistoryDTO">
        SELECT o.FG_ORDER_DATE AS 주문날짜, pf.FG_PRODUCT_FILE_ROOT || '/' || pf.FG_PRODUCT_FILE_NAME AS 상품사진,
               p.FG_PRODUCT_NAME AS 상품명, p.FG_PRODUCT_PRICE AS 상품가격, pick.FG_PICKUP_SCHEDULE AS 픽업예정시간,
               b.FG_BUSINESS_NAME AS 업체명, pick.FG_PICKUP_REQUEST AS 요청사항, pick.FG_PICKUP_STATUS AS 픽업여부
        FROM FG_ORDER o, FG_PICKUP pick, FG_PRODUCT p, FG_PRODUCT_FILE pf, FG_BUSINESS b
        WHERE o.FG_ORDER_ID = pick.FG_ORDER_ID
          AND o.FG_PRODUCT_ID = p.FG_PRODUCT_ID
          AND p.FG_PRODUCT_ID = pf.FG_PRODUCT_ID
          AND p.FG_BUSINESS_ID = b.FG_BUSINESS_ID
          AND o.FG_USER_CODE = #{fgUserCode}
    </select>
</mapper>