<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset2.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/seller/sellerProductList.css}">
    <script defer th:src="@{/js/mypage/seller/sellerProductList.js}"></script>
    <title>마이페이지</title>
</head>
<body>
    <header id="header" th:replace="~{/main/fragment/header/sellerHeader}"></header>
    <main>
        <section id="side-section" th:replace="~{/mypage/seller/sellerMypageSide}">
        </section>
        <!-- 등록한 상품 영역-->
        <section class="product-list-section">
            <!-- 제목 -->
            <div class="mypage-title-wrap">
                <img src="/img/mypage/seller/shopping_bag_icon.png" alt="쇼핑백아이콘">
                등록한 상품
            </div>
            <!-- 상품상태 카테고리 -->
            <div class="product-menu">
                <div id="ongoing-menu" class="menu-btn active" onclick="loadProductList('onSale')">판매중</div>
                <div id="completed-menu" class="menu-btn" onclick="loadProductList('notOnSale')">판매완료</div>
            </div>
            <!-- 판매중 상품목록 -->
            <div id="ongoing-list" class="product-list-container">
                <ul>
                    <li th:each="product : ${productList}" class="product-list">
                        <!-- 상품명 -->
                        <div class="product-title-wrap">
                            <div class="product-name" th:text="${product.productName}">상품명</div>
                            <div class="btn-wrap">
                                <button type="button" class="product-completed-btn">판매완료</button>
                                <button type="button" class="product-delete-btn">삭제</button>
                            </div>
                        </div>
                        <!-- 상품정보 -->
                        <div class="product-info-wrap">
                            <div class="product-item-img"
                                    th:style="'background-image: url(/upload_moamz/' + ${product.productFileRoot}
                                + '/' +  ${product.productFileUuid} + '_' + ${product.productFileName} + ')' ">
                            </div>
                            <div class="product-detail-wrap">
                                <div class="product-item">
                                    <p class="product-label">카테고리</p>
                                    <p th:text="${product.categoryId}">카테고리명</p>
                                </div>
                                <div class="product-item">
                                    <p class="product-label">상품가격</p>
                                    <span th:text="${product.productPrice}">상품가격</span>원
                                </div>
                                <div class="product-item">
                                    <p class="product-label">등록수량</p>
                                    <span th:text="${product.productStock}">등록수량</span>
                                </div>
                                <div class="product-item">
                                    <p class="product-label">중량</p>
                                    <span th:text="${product.productWeight}">상품중량</span>g
                                </div>
                                <div class="product-item">
                                    <p class="product-label">소비기한</p>
                                    <span th:text="${product.productExpDate}">소비기한</span>까지
                                </div>
                                <div class="product-item">
                                    <p class="product-label">상품등록일</p>
                                    <span th:text="${product.productTime}">상품등록일</span>
                                </div>
                            </div>
                            <div>
                                <div class="product-item">
                                    <p class="product-label">상품상세</p>
                                    <span class="product-detail" th:text="${product.productContent}">상품상세</span>
                                </div>
                            </div>
                        </div>
                        <!-- 자세히보기 버튼 -->
                        <div>
                            <p class="move-to-detail" onclick="location.href='sellerProductDetail.html'">자세히 보러가기 ></p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 판매완료 상품목록 -->
            <div id="completed-list" class="product-list-container hidden">
                <ul>
                    <li th:each="product : ${productList}" class="product-list">
                        <!-- 상품명 -->
                        <div class="product-title-wrap">
                            <div class="product-name" th:text="${product.productName}">상품명</div>
                            <div class="btn-wrap">
<!--                                <button type="button" class="product-completed-btn">판매완료</button>-->
                                <button type="button" class="product-delete-btn">삭제</button>
                            </div>
                        </div>
                        <!-- 상품정보 -->
                        <div class="product-info-wrap">
                            <div class="product-item-img"
                                 th:style="'background-image: url(/upload_moamz/' + ${product.productFileRoot}
                                + '/' +  ${product.productFileUuid} + '_' + ${product.productFileName} + ')' ">
                            </div>
                            <div class="product-detail-wrap">
                                <div class="product-item">
                                    <p class="product-label">카테고리</p>
                                    <p th:text="${product.categoryId}">카테고리명</p>
                                </div>
                                <div class="product-item">
                                    <p class="product-label">상품가격</p>
                                    <span th:text="${product.productPrice}">상품가격</span>원
                                </div>
                                <div class="product-item">
                                    <p class="product-label">등록수량</p>
                                    <span th:text="${product.productStock}">등록수량</span>
                                </div>
                                <div class="product-item">
                                    <p class="product-label">중량</p>
                                    <span th:text="${product.productWeight}">상품중량</span>g
                                </div>
                                <div class="product-item">
                                    <p class="product-label">소비기한</p>
                                    <span th:text="${product.productExpDate}">소비기한</span>까지
                                </div>
                                <div class="product-item">
                                    <p class="product-label">상품등록일</p>
                                    <span th:text="${product.productTime}">상품등록일</span>
                                </div>
                            </div>
                            <div>
                                <div class="product-item">
                                    <p class="product-label">상품상세</p>
                                    <span class="product-detail" th:text="${product.productContent}">상품상세</span>
                                </div>
                            </div>
                        </div>
                        <!-- 자세히보기 버튼 -->
                        <div>
                            <p class="move-to-detail" onclick="location.href='sellerProductDetail.html'">자세히 보러가기 ></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer id="footer" th:replace="~{/main/fragment/footer/sellerFooter}"></footer>
</body>
</html>