<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>userFindPassword</title>
  <link rel="stylesheet" th:href="@{/css/user/regular/userFindPassword.css}">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <script defer th:src="@{/js/user/regular/userFindPassword.js}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<!--<header id="header" th:replace="~{/main/fragment/header/userHeaderLogin.html}"></header>-->
  <div id="container">

    <div id="find-logo">
      <img th:src="@{/img/user/logo-green.jpg}" alt="">
    </div>
    <div id="login-find-id"><strong>회원 비밀번호 찾기</strong></div>
    <div id="login-wrap">
      <div class="find-strong"><strong>이메일</strong></div>
      <div class="find-input">
        <input type="text" id="find-name-check" name="fgUserId" placeholder="이메일을 입력해주세요" required>
      </div>
      <div id="blank"></div>
      <div class="find-strong"><strong>휴대전화</strong></div>
      <div class="find-input">
        <input type="text" id="find-phone-check" name="fgNormalPhone" placeholder="휴대폰번호를 입력해 주세요" required>
        <button id="phone-send">전송</button>
      </div>
      <div class="find-input">
        <input type="text" id="find-phone-recheck" placeholder="인증번호를 입력해 주세요">
        <span id="time"></span>
        <!-- <span class="certificationTime">03:00</span> -->
        <button id="phone-check">확인</button>
      </div>

      <div id="find-id">
        <button id="find-id-btn">비밀번호 찾기</button>
      </div>
    </div>

  </div>
  <footer id="footer" th:replace="~{/main/fragment/footer/userFooter.html}"></footer>
</body>
</html>