<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.main.HeaderNoticeMapper">
    <select id="selectHeaderNotice" resultType="HeaderNoticeDTO">
        SELECT o.FG_USER_CODE,o.FG_ORDER_ID,p.FG_PICKUP_STATUS,pr.FG_PRODUCT_ID,pf.FG_PRODUCT_FILE_ID,
            pf.FG_PRODUCT_FILE_NAME,pf.FG_PRODUCT_FILE_ROOT,pf.FG_PRODUCT_FILE_UUID,pr.FG_PRODUCT_NAME
        FROM FG_ORDER o JOIN FG_PICKUP p
            ON o.FG_ORDER_ID = p.FG_ORDER_ID
        JOIN FG_PRODUCT pr
            ON o.FG_PRODUCT_ID = pr.FG_PRODUCT_ID
        JOIN FG_PRODUCT_FILE pf
            ON pr.FG_PRODUCT_ID = pf.FG_PRODUCT_ID
--         WHERE o.FG_USER_CODE IS NOT NULL
    </select>
</mapper>