<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.mypage.normal.info.NormalInfoAuthMapper">
<!--    <select id="selectInfoAuth" resultType="NormalInfoAuthDTO">-->
<!--        SELECT FG_USER_ID, FG_USER_PASSWORD-->
<!--        FROM FG_COMMON_USER-->
<!--        WHERE FG_USER_ID = #{fgUserId} AND FG_USER_PASSWORD = #{fgUserPassword}-->
<!--    </select>-->


    <!--// 회원 정보 변경 전 인증페이지-->
    <!-- 유저 아이디 반환 -->
    <select id="selectNormalId" parameterType="Long" resultType="String">
        SELECT FG_USER_ID
        FROM FG_COMMON_USER
        WHERE FG_USER_CODE = ${fgUserCode}
    </select>

    <!-- userCode로 비밀번호 조회하기 -->
    <select id="selectNormalPw" parameterType="Long" resultType="String">
        SELECT FG_USER_PASSWORD
        FROM FG_COMMON_USER
        WHERE FG_USER_CODE = #{fgUserCode}
    </select>







</mapper>