<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.mypage.normal.info.NormalInfoModifyMapper">
    <!-- 회원 정보 변경 -->
    <select id="selectNormalInfoModify" resultType="NormalInfoModifyDTO">
        SELECT uf.FG_USER_FILE_UUID,uf.FG_USER_FILE_ID, uf.FG_USER_FILE_NAME, uf.FG_USER_FILE_ROOT,
               c.FG_USER_ID,c.FG_USER_PASSWORD,n.FG_NORMAL_NAME,n.FG_NORMAL_PHONE,
               n.FG_NORMAL_NICKNAME,n.FG_NORMAL_BIRTH,n.FG_NORMAL_GENDER,
               n.FG_NORMAL_POSTCODE,n.FG_NORMAL_ADDRESS,n.FG_NORMAL_ADDRESS_DETAIL
        FROM FG_COMMON_USER c JOIN FG_NORMAL_USER n
                ON c.FG_USER_CODE = n.FG_USER_CODE
        LEFT JOIN FG_USER_FILE uf
                ON c.FG_USER_CODE = uf.FG_USER_CODE
        WHERE c.FG_USER_CODE = #{fgUserCode}
    </select>

    <!-- 회원 정보 수정 -->
    <update id="updateNormalPassword" parameterType="NormalInfoModifyDTO">
        UPDATE FG_NORMAL_USER
        SET
            FG_NORMAL_BIRTH = TO_DATE(#{fgNormalBirth}, 'YYYY-MM-DD'),
            FG_NORMAL_GENDER = #{fgNormalGender},
            FG_NORMAL_PHONE = #{fgNormalPhone}
        WHERE
            FG_USER_CODE = #{fgUserCode}
    </update>
</mapper>