/* a 태그 기본 스타일 제거 */
a {
    color: inherit; /* 링크 색상 제거 */
    text-decoration: none; /* 밑줄 제거 */
    background: none; /* 배경색 제거 */
    outline: none; /* 포커스시 나타나는 외곽선 제거 */
}
/* 버튼 reset css */
button{
    background: none;      /* 배경 제거 */
    border: none;          /* 테두리 제거 */
    padding: 0;            /* 기본 패딩 제거 */
    margin: 0;             /* 기본 마진 제거 */
    box-shadow: none;      /* 그림자 제거 */
    cursor: pointer;       /* 마우스를 올리면 클릭 커서가 나타나도록 설정 */
    outline: none;         /* 포커스시 나타나는 외곽선 제거 */
}
header{
    height: 70px;
    background-color: #ffffff;
    align-items: center;/* 높이를 맞춰 중앙 정렬 */
    box-shadow: 0px 2.49px 7.18px rgba(0, 0, 0, 0.16);  
    position: relative;
    display:flex;
    justify-content: space-between;
}



main{
    /* width: 1000px; */
    margin: 0 auto;
    height: 100vh;
}

body{
    /*width: 1690px ;*/
    /*overflow: hidden;*/
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 80%;
  }

/* 로고 */
header .admin-logo{
    display: flex;
    align-items: center;  
    padding-left: 20px;
}
/* 로고 이미지 */
header .admin-logo img{
    width: 35px;
    margin-right: 10px;
}
/* 타이틀 */
 header .admin-logo div{
    color: #0B3051; 
    font-weight: bold;
    font-size: 25px;
}
/* 나가기 버튼 box */
 header .admin-logout__btn{
    width: 60px;
    height: 25px;
    border: 1px solid #0B3051;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}
/* 나가기 폰트 */
header .admin-logout__btn a{
    font-size: 17px; 
    color:#1B494C;
}
header .admin-logout__btn:hover{
    background-color: #1B494C;
}
header .admin-logout__btn a:hover{
    color:white;
    background-color: #1B494C;
}

/* 좌측 네비바 */
nav{
    background-color: #ffffff;
}
/* 네비바 전체 */
nav ul{
    padding-top: 30px;
    padding-left: 13px;

    /* li들간에 위아래 간격 9px주기 */
    display: flex;
    flex-direction: column;
    gap:25px
}
nav ul li{
    display: flex;
    height: 26px;
    align-items: center ;
    margin-right: 10px;
}
nav ul li .nav-logo{
    margin-right: 11.76px;
}

 nav ul li .nav-logo img{
    width: 20px;
}
 nav ul li .nav-title a{
    font-size: 20px;
    color: #5D7285;
}
 nav ul li{
    width: 151px;
    height: 45px;
}
nav ul li:hover{
    background-color: #F0F6FF;
    font-weight: bold;
}
nav ul li a:hover{
    background-color: #F0F6FF;
    font-weight: bold;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* 네비바+메인화면의 부모인 main */
main{
    display: flex;
    width: 1707px;
    height: 100vh;
}
/* 타이틀 + 카운팅카드뷰 + 에코프젝 + 그래프의 부모 */
main .content-box{
    display: flex;
    flex-direction: column;
    background-color: #1B494C;
    width: 1705px;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}
/* 타이틀 */
main .content-box .page-title-box{
   position: relative;
   top: 30px;
   left: 8px;
}
main .content-box .page-title-box .page-title{
    font-size:25px;
    color: #ffffff;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* 흰색 게시판 전체 */
.content{
    height: 100vh;
    background-color: #FFFFFF;
    width: 90%;
    position: relative;
    bottom: -70px;
    margin-left: 30px;
}
/* 공지사항 제목 부분 */
.content-title-box{
    width: 95%;
    height: 70px;
    border-top: 1px solid #d7d4d4;
    border-bottom: 1px solid #d7d4d4;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
}
.content-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.content-info{
    display: flex;
    font-size: 15px;
    color:#6A6A6A;
    gap: 20px;
    align-items: center;
}
.content-info .writer{
    font-weight: bold;
}
.content-info .text-box{
    display: flex;
    gap:3px;
}
.content-info .btn-wrapper{
    position: absolute;
    right: 140px; 
    top: 11%; 
    transform: translateY(-50%); 
    display: flex;
    gap: 7px;
}
.content-info .btn{
    border: 1px solid #5D7285;
    border-radius: 3px;
    padding: 5px;
    color: #5D7285;
    font-size: 15px;
}
.content-info .btn img{
    width: 13px;
    transform: translateY(12%)
}
/* 공지사항 내용 부분 */
.content-detail-box{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 15px;
    height: 100%;
    width: 80%;
}
.content-detail-box p{
    width: 100%;
    height:100%;
    border-bottom: 1px solid #d7d4d4;
}
