<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moamz.mapper.admin.user.UserMapper">
<!--로그인-->
  <select id="selectUserCode" resultType="Long" parameterType="AdminUserDTO">
      SELECT FG_USER_CODE
      FROM FG_COMMON_USER
      WHERE FG_USER_ID = #{fgUserId} AND FG_USER_PASSWORD = #{fgUserPassword}
  </select>
<!--세션 정보를 가져오는 쿼리-->
    <select id="selectLoginInfo" resultType="AdminUserSessionDTO" parameterType="AdminUserDTO">
        SELECT FG_USER_CODE , FG_USER_ID
        FROM FG_COMMON_USER
        WHERE FG_USER_ID = #{fgUserId} AND FG_USER_PASSWORD = #{fgUserPassword}
    </select>


</mapper>