*{
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Variable";
}

.container{
  background-color: #947160;
  height: 60px;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  text-align: center;
}

.header{
  background-color: #947160;
  width: 1000px;
  height: 60px;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

/* 로고 이미지 */
.header>img{
  width: 128px;
  height: 47px;
  margin-left:10px;
  cursor: pointer;
}

/* 헤더 메뉴 */
.header-search{
  list-style-type: none;
  display: flex;
  margin-left: 10px;
}

.header-search>li{
  margin-left: 25px;
}

.header-search>li>a{
  display: block;
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size:18px;
}

/* 회원 서비스 아이콘 */
.header-btn{
  margin-left: auto;
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}

.btn-img{
  width: 30px;
  height: 30px;
  position: relative;
}



.login{
  padding: 0 3px;
  cursor: pointer;
  color:#947160;
  background-color: white;
  border: none;
  height: 30px;
  font-weight: bold;
  border-radius: 3px;
  font-size: 13px;
}