<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset2.css}">
    <link rel="stylesheet" th:href="@{/css/shopping/cart.css}">
    <script defer th:src="@{/js/shopping/cart.js}"></script>
</head>
<body>
<!--<div th:replace="~{main/fragment/header/userHeaderLogin :: header}"></div>-->
<!--<div th:replace="~{/fragment/header::userHeader}"></div>-->
<header id="header" th:replace="~{/main/fragment/header/userHeaderLogin}"></header>

<main>
    <div class="cart-container container">
        <form action="/shop/payment" method="post" id="cartForm">



            <!-- 상단 장바구니 안내 영역 -->
            <div class="cart-wrap1">
                <div class="cart-top">
                    <div class="cart-top-cart">
                        <span>
                            <img th:src="@{/img/shopping/cart.png}" alt="장바구니 아이콘">
                            장바구니
                        </span>
                    </div>
                    <div class="cart-top-text">
                        단품 결제만 가능합니다. 주문 품목 한 가지만 선택해주세요.
                    </div>
                </div>
            </div>

            <!-- 상품 리스트 영역 -->
            <div class="cart-wrap2">
                <div class="cart-product">
                    <div class="cart-product-top">
                        <span>
                            <img th:src="@{/img/shopping/shop.png}" alt="상점 아이콘">
                        </span>
                    </div>

                    <!-- 상품 상세 리스트 -->
                    <div class="cart-product-detail" th:each="cartList : ${cartLists}">

                        <div class="cart-product-detail-product">
                            <!-- 삭제 버튼 -->
                            <div class="cart-product-top-btn">
                                <button type="button" class="cart-delete"
                                        th:data-fg-cart-detail-id="${cartList.fgCartDetailId}">
                                    X
                                </button>
                            </div>

                            <!-- 상품 선택 라디오 -->
                            <input type="radio" name="selectProduct" class="cart-radio" th:value="${cartList.fgProductId}"
                                   onclick="selectProduct(this)">

                            <input type="hidden" th:id="'productId-' + ${cartList.fgProductId}" th:value="${cartList.fgProductId}">
                            <input type="hidden" th:id="'productName-' + ${cartList.fgProductId}" th:value="${cartList.fgProductName}">
                            <input type="hidden" th:id="'productPrice-' + ${cartList.fgProductId}" th:value="${cartList.fgProductPrice}">
                            <input type="hidden" th:id="'productWeight-' + ${cartList.fgProductId}" th:value="${cartList.fgProductWeight}">
                            <input type="hidden" th:id="'productExpTime-' + ${cartList.fgProductId}" th:value="${cartList.fgProductExpTime}">
                            <input type="hidden" th:id="'productFileRoot-' + ${cartList.fgProductId}" th:value="${cartList.productFileRoot}">
                            <input type="hidden" th:id="'productFileUuid-' + ${cartList.fgProductId}" th:value="${cartList.productFileUuid}">
                            <input type="hidden" th:id="'productFileName-' + ${cartList.fgProductId}" th:value="${cartList.productFileName}">


                            <!-- 상품 정보 -->
                            <div class="cart-product-detail-product-intro">
                                <!-- 상품 이미지 -->
                                <div class="cart-product-detail-product-intro-img">
<!--                                    <img th:src="@{'/upload_moamz/' + ${cartList.productFileRoot} + '/' + ${cartList.productFileUuid}-->
<!--                                                + '_' + ${cartList.productFileName}}" style="width: 220px; height: 180px;">-->
                                    <img th:src="@{/img/shopping/banana.png}" style="width: 220px; height: 180px;">
                                </div>

                                <!-- 상품 텍스트 정보 -->
                                <div class="cart-product-detail-product-intro-text">

                                    <div class="cart-product-detail-product-intro-text-name"
                                         th:text="${cartList.fgProductName}">
                                        상품명
                                    </div>
                                    <div class="cart-product-detail-product-intro-text-price"
                                         th:text="${cartList.fgProductPrice} + '원'"
                                         th:attr="data-fg-product-price=${cartList.fgProductPrice}">
                                        가격
                                    </div>
                                    <div class="cart-product-detail-product-intro-text-eco">
                                        <span>
                                            <!-- 유통기한 -->
                                            <div class="cart-product-detail-product-intro-text-img"
                                                 th:text="${#temporals.format(cartList.fgProductExpTime, 'yy.MM.dd')}">
                                                <img th:src="@{/img/shopping/productListcalendar.png}" alt="유통기한">
                                            </div>
                                            <!-- 상품 무게 -->
                                            <div class="cart-product-detail-product-intro-text-weight"
                                                 th:text="${cartList.fgProductWeight} + ' kg'"
                                                 th:attr="data-fg-product-weight=${cartList.fgProductWeight}">
                                                <img th:src="@{/img/shopping/productListco2.png}" alt="무게">
                                            </div>
                                        </span>
                                    </div>
                                </div>
<!--                                <input type="hidden" name="productId" id="selectedProductId" th:value="${cartList.fgProductId}">-->
<!--                                <input type="hidden" name="productName" id="selectedProductName" th:value="${cartList.fgProductName}">-->
<!--                                <input type="hidden" name="productPrice" id="selectedProductPrice" th:value="${cartList.fgProductPrice}">-->
<!--                                <input type="hidden" name="productWeight" id="selectedProductWeight" th:value="${cartList.fgProductWeight}">-->
<!--                                <input type="hidden" name="productQuantity" id="selectedProductQuantity">-->
<!--                                <input type="hidden" name="productExpTime" id="selectedProductExpTime" th:value="${cartList.fgProductExpTime}">-->
<!--                                <input type="hidden" name="productFileRoot" id="selectedProductFileRoot" th:value="${cartList.productFileRoot}">-->
<!--                                <input type="hidden" name="productFileUuid" id="selectedProductFileUuid" th:value="${cartList.productFileUuid}">-->
<!--                                <input type="hidden" name="productFileName" id="selectedProductFileName" th:value="${cartList.productFileName}">-->
                            </div>


                            <!-- 수량 조절 버튼 -->
                            <div class="cart-product-count-btn">
                                <button type="button" class="inc">+</button>
                                <div class="cart-product-count-num" id="count">1</div>
                                <button type="button" class="dec">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 결제 정보 영역 -->
            <div class="cart-wrap3">
                <div class="cart-bottom">
                    <span>
                        결제 예정 금액: <span id="total-price">9,900원</span>
                        <button type="submit" id="pay">
<!--                            th:onclick="|location.href='@{/shop/payment}'|"-->
                            <img th:src="@{/img/shopping/pay.png}" alt="결제하기">
                        </button>
                    </span>
                </div>
            </div>
            <!-- 숨겨진 필드: 선택된 상품 정보 저장 -->
            <input type="hidden" name="productId" id="selectedProductId">
            <input type="hidden" name="productName" id="selectedProductName">
            <input type="hidden" name="productPrice" id="selectedProductPrice">
            <input type="hidden" name="productWeight" id="selectedProductWeight">
            <input type="hidden" name="productQuantity" id="selectedProductQuantity">
            <input type="hidden" name="productExpTime" id="selectedProductExpTime">
            <input type="hidden" name="productFileRoot" id="selectedProductFileRoot">
            <input type="hidden" name="productFileUuid" id="selectedProductFileUuid">
            <input type="hidden" name="productFileName" id="selectedProductFileName">
        </form>
    </div>
</main>

<footer id="footer" th:replace="~{/main/fragment/footer/userFooter}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!--<script>-->
<!--    $(function() {-->
<!--        $("#header").load("./../main/fragment/header/userHeaderLogin.html");-->
<!--        $("#footer").load("./../main/fragment/footer/userFooter.html");-->
<!--    });     -->
<!--</script>-->
</html>